.acts-header {
    height: 500px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding-top: 40px;
    padding-left: 20px;
  }

  .acts-header h1 {
      margin-top: 20px;
      margin-left: 20px;
      font-weight: 700;
      font-family: "Comfortaa", sans-serif;
      color: #ffffff;
      background-color: #ffa437;
      font-size: 36px;
      height: 65px;
      padding-top: 15px;
      border-radius: 5px;
      text-align: center;
  }

  .todays-date {
      margin-left: 48px;
      font-size: 20px;
      font-family: "Comfortaa", sans-serif;
      color: #ffa437;
      font-weight: 700;
      margin-top: -15px;

  }
  

  .section-header {
    height: 65px;
    background-color: #3ec094;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    border-radius: 5px;
    
  }

  .section-header h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
  

  }



  .acts-info {
    display: inline-block;
      
  }
  
  .act-title {
    font-size: 16px;
    margin-right: 10px;
    font-weight: 700;
  }
  
  .act-cat {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    
  }

  .act-pts {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
  }

  .bar {
    margin-top: -5px;
  }

  .desc {
    font-size: 12px;
    text-align: left;
    margin-top: 35px;
  }
  .sub-text {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    color: #414042;


}

