.acts-header {
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-top: 40px;
  padding-left: 20px;
}

.acts-header h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: #ffffff;
  background-color: #ffa437;
  font-size: 26px;
  height: 50px;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.section-header {
  width: auto;
  height: 50px;
  background-color: #3ec094;
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  border-radius: 5px;
}

.section-header h1 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}

.acts-info {
  display: inline-block;
}

.act-title {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 700;
}

.bar {
  margin-top: -2px;
  color: #3ec094;
}

.sub-text {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: #414042;
  font-family: "Comfortaa", sans-serif;
}
.sub-head {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #ffa437;
  font-family: "Comfortaa", sans-serif;
}

.plus-style {
  background: #ffa437;
  margin-top: 2px;
  padding: 0px 8px 0px 8px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  color: #ffffff;
}

.plain-text {
  color: #414042;
  font-size: 14px;
}

.desc {
  font-size: 14px;
}


.acts-header {
  
}
