.kyndline-container {
  margin-top: 0px;
  margin-left: 20px;
  max-height: 300px;

}

.kyndline-container .list-group-item {
  height: 60px;
}

.list-group-item {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;

}

.list-overflow-container .desc {
  color: #3ec094;
  font-size: 14px;
  margin-left: 40px;
  margin-top: -23px;
  font-weight: 700;
  width: 100%;
}

.list-group-item img {
  width: 25px;
  height: 25px;
  margin-top: 8px;
}
