.list-overflow-container {
  margin-top: 112px;
  max-height: 790px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: .5px solid #ced4da;
}

.list-overflow-container ul {
  display: inline;
}

.list-overflow-container li {
  height: 100px;
  font-size: 20px;
}

.list-overflow-container .act-title {
  margin-top: 5px;
  margin-left: 15px;
  color: #3ec094;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 700;
}

.list-overflow-container .act-cat {
  margin-top: 5px;
  color: #3ec094;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}

.list-overflow-container .act-pts {
  margin-top: 5px;
  color: #3ec094;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}

.list-overflow-container .desc {
  margin-left: 15px;
  font-size: 12px;
  text-align: left;
  color: #414042;
  width: 650px;
}

.list-group-item {
  font-family: "Comfortaa", sans-serif;
  position: relative;


}


