.jumbotron {
  height: 100px;
  text-align: center;
  padding-top: 35px;
  background-color: #3ec094;
  font-family: "Comfortaa", sans-serif;
  height: 85px;

}

.list-overflow-container {
  max-height: 700px;
  border: 1px #DDDDDD solid;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  height: 80px;
  font-size: 20px;
  
}

.list-overflow-container li * {
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
}

.list-group-item {
  font-family: "Comfortaa", sans-serif;

}
