.form-container {
    margin-top: 90px;
}

.form-group {
    margin: 0 auto;
    font-family: "Comfortaa", sans-serif;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.btn-success .add-btn {
    background-color: #ffa437;
}