
.form-container {
    margin-top: 90px;
}

.form-group {
    margin: 0 auto;
    font-family: "Comfortaa", sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;


}

.add-act-btn {
    background-color: #ffa437;
    position: relative;
    left: 100px;
}