/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 500px;
    background: #c5ecdf;
    
    margin: 72px 0 -72px 0;
  }
  
  #hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #414042;
    font-family: "Comfortaa", sans-serif;
  }
  
  #hero h2 {
    color: #6a6a6a;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
  }
  
  #hero .btn-get-started {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    padding: 12px 20px 12px 20px;
    color: #fff;
    background: #fea710;
    font-family: "Comfortaa", sans-serif;
  }
  
  #hero .btn-get-started:hover {
    background: #3ec094;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  .kindimg {
    height: 450px;
    width: 500px;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    #hero {
      height: calc(100vh - 72px);
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%
    }


  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }