.dash-badge {
    text-align: center;
    margin: 0 auto;
}

.dash-badge img {
}

.badge-style-c {
}

.badge-style-o {
    opacity: 50%;
}

.badge-pts {
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color:#3ec094;
}

.badge-unlock {
    margin-top: -10px;
    color: #414042;
    font-size: 14px;

}

.badge-lock {
    margin-top: -10px;
    color: #414042;
    font-size: 14px;


}


