.dash-badge {
    text-align: center;
}

.badge-style-c {
    width: 400px;
    height: 400px;
    margin-top: 10px;

}

.badge-style-o {
    width: 400px;
    height: 400px;
    margin-top: 10px;
    opacity: 50%;
}

.badge-pts {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color:  #3ec094;
}

.badge-unlock {
    color: #414042;
    font-size: 24px;
}

.badge-lock {
    color: #414042;
    font-size: 24px;
}


