/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  height: 575px;
}


.about h3 {
  font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 34px;
    margin-top: 20px;
    color: #414042;
  }
  
  .about h4 {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    color: #6a6a6a;
  }
  
  .about i {
    font-size: 48px;
    margin-top: 15px;
    color: #f39e7a;
  }
  

  .kynd-heart {
    margin-top: 40px;
    width: 450px;
    height: 450px;
  }

  .section-title .p-about{
    font-family: "Comfortaa", sans-serif;
    font-size: 15px;
    color: #5a6570;
    margin-top: 20px;
  }

  .section-title p{
    font-family: "Comfortaa", sans-serif;
    font-size: 15px;
    color: #5a6570;
  }

  .section-title .about-title {
    margin-top: 150px;
  }

  .section-title p::after {
      background: #fea710;
  }
  
  @media (max-width: 991px) {
    .about .about-img img {
      max-width: 70%;
    }
  }
  
  @media (max-width: 767px) {
    .about .about-img img {
      max-width: 90%;
    }
  }