/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
    font-weight: 700;
    font-size: 34px;
    padding-top: 30px;
    color: #4e4039;
  }
  
  .about h4 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    color: #7a6960;
  }
  
  .about i {
    font-size: 48px;
    margin-top: 15px;
    color: #f39e7a;
  }
  
  .about p {
    font-size: 15px;
    color: #5a6570;
  }

  .about img {
    padding-top: 20px;
    width: 350px;
    height: 300px;
  }
  
  @media (max-width: 991px) {
    .about .about-img img {
      max-width: 70%;
    }
  }
  
  @media (max-width: 767px) {
    .about .about-img img {
      max-width: 90%;
    }
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fef8f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #c2b7b1;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #4e4039;
}

.section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  color: #007bff;
}

a:hover {
  color: #0b6bd3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}
